@import "tailwindcss";

:root {
  --text: #242528;
  --text-black: #000000;
  --text-white: #F5F5F6;
  --bg: #FFFFFF;
  --border: #CED0D3;
  --lime: #D4FB20;
  --primary-blue: #003BE2;
  --blur-circle: #CBFC01;


  --satoshi: "Satoshi", system-ui, sans-serif;
  --heading: "Poppins", "Segoe UI", Roboto, sans-serif;

  --container-width: 1440px;
  --container-padding: 32px;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Global container */
.container {
  width: 100%;
  max-width: var(--container-width);
  margin-inline: auto;
  padding-inline: var(--container-padding);
}

@media (max-width: 1024px) {
  :root {
    font-size: 16px;
    --container-padding: 24px;
  }
}

@media (max-width: 640px) {
  :root {
    --container-padding: 16px;
  }
}